<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of Shiro J Bot.
  ~ Copyright (C) 2020  Yago Gimenez (KuuHaKu)
  ~
  ~ Shiro J Bot is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Shiro J Bot is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Shiro J Bot.  If not, see <https://www.gnu.org/licenses/>
  -->

<Configuration status="warn">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout
                    pattern="%style{%d{dd MMM yyyy HH:mm:ss}{GMT-3}}{magenta} %style{PID %pid}{bright, blue} %style{[%tn]}{reverse} %highlight{%-5level %logger{36}.%M():%L}{FATAL=red blink bright, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=cyan} - %style{%msg}{white}%n%n"
                    disableAnsi="false"/>
        </Console>

        <File name="Log" fileName="logs/stacktrace.log" append="false">
            <PatternLayout
                    pattern="%d{dd MMM yyyy HH:mm:ss}{GMT-3} PID %pid [%tn] %-5level %logger{36}.%M():%L - %msg\r\n\r\n"
                    disableAnsi="false"/>
        </File>

        <File name="ErrorLog" fileName="logs/error.log" append="false">
            <PatternLayout
                    pattern="%d{dd MMM yyyy HH:mm:ss}{GMT-3} PID %pid [%tn] %-5level %logger{36}.%M():%L - %msg\r\n\r\n"
                    disableAnsi="false"/>
        </File>

        <File name="CrashLog" fileName="logs/crash.log" append="false">
            <PatternLayout
                    pattern="%d{dd MMM yyyy HH:mm:ss}{GMT-3} PID %pid [%tn] %-5level %logger{36}.%M():%L - %msg\r\n\r\n"
                    disableAnsi="false"/>
        </File>
    </Appenders>

    <Loggers>
        <root level="debug">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="Log" level="info"/>

            <AppenderRef ref="ErrorLog" level="error"/>

            <AppenderRef ref="CrashLog" level="fatal"/>
        </root>
    </Loggers>
</Configuration>
