<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of Shiro J Bot.
  ~ Copyright (C) 2019-2021  Yago Gimenez (KuuHaKu)
  ~
  ~ Shiro J Bot is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Shiro J Bot is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Shiro J Bot.  If not, see <https://www.gnu.org/licenses/>
  -->

<Configuration status="warn">
    <CustomLevels>
        <CustomLevel name="ASPECT" intLevel="400" />
    </CustomLevels>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout
                    pattern="%style{%d{dd MMM yyyy HH:mm:ss}{GMT-3}}{magenta} %style{PID %pid}{bright, blue} %style{[%tn]}{reverse} %highlight{%-5level %C{36}.%M():%L}{FATAL=blink bright red, ERROR=red, WARN=bold yellow, INFO=green, ASPECT=cyan, DEBUG=bold green, TRACE=black} - %style{%msg}{white}%n%n"
                    disableAnsi="false"/>
        </Console>

        <RandomAccessFile name="InfoLog" fileName="logs/stacktrace.log" immediateFlush="false" append="false">
            <PatternLayout
                    pattern="%d{dd MMM yyyy HH:mm:ss}{GMT-3} PID %pid [%tn] %-5level %C{36}.%M():%L - %msg%n%n"
                    disableAnsi="false"/>
        </RandomAccessFile>

        <RandomAccessFile name="ErrorLog" fileName="logs/error.log" immediateFlush="false" append="false">
            <PatternLayout
                    pattern="%d{dd MMM yyyy HH:mm:ss}{GMT-3} PID %pid [%tn] %-5level %C{36}.%M():%L - %msg%n%n"
                    disableAnsi="false"/>
        </RandomAccessFile>

        <RandomAccessFile name="CrashLog" fileName="logs/crash.log" immediateFlush="false" append="false">
            <PatternLayout
                    pattern="%d{dd MMM yyyy HH:mm:ss}{GMT-3} PID %pid [%tn] %-5level %C{36}.%M():%L - %msg%n%n"
                    disableAnsi="false"/>
        </RandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="info" includeLocation="true">
            <AppenderRef ref="Console"/>

            <AppenderRef ref="InfoLog"/>
            <AppenderRef ref="ErrorLog" level="error"/>
            <AppenderRef ref="CrashLog" level="fatal"/>
        </Root>

        <Logger name="org.reflections8.Reflections" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>

            <AppenderRef ref="InfoLog"/>
            <AppenderRef ref="ErrorLog" level="error"/>
            <AppenderRef ref="CrashLog" level="fatal"/>
        </Logger>
    </Loggers>
</Configuration>
